<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msj.elearning.mapper.CourseMapper">
    <select id="findCourseByIsFreeAndOrderByCreateTime" resultType="com.msj.elearning.pojo.Course">
        SELECT c.* FROM course c WHERE c.is_free = #{isFree} ORDER BY c.create_time desc;
    </select>

    <select id="findCourseByIsFree" resultType="com.msj.elearning.pojo.Course">
        SELECT c.* FROM course c WHERE c.is_free = #{isFree}
    </select>
</mapper>